#autocomplete{
  background-color:  #1b5ec3;
  padding: 10px;
  width: 300px;
  height: 300px;
  color: #a5f7c5;
  font-family: sans-serif;
  border-radius: 615%;
  border: dashed 5px #a5f7c5;
  text-align: center;
}

#autocomplete h1{
  font-size: 30px;
  font-weight: bold;
}

#autocomplete li {
  font-size: 20px;
  list-style-type: none;
  cursor: pointer;
}
