#clock{
  background-color:  #7b5ec3;
  padding: 10px;
  width: 300px;
  height: 300px;
  color: #c5f7c5;
  font-family: sans-serif;
  border-radius: 615%;
  border: dashed 5px #c5f7c5;
  text-align: center;
}


#clock h1{
  font-size: 30px;
  font-weight: bold;
}

#clock p {
  font-size: 20px;
}
